/DeBai-Assignment01/A01/Q1/dist/
/DeBai-Assignment01/A01/Q2/dist/
/Slot13+14/nbproject/private/
/Slot13+14/build/
/Slot13_14_Withobj/nbproject/private/
/Slot13_14_Withobj/build/
/Assignment02/Assignment02/Q1/build/
/Assignment02/Assignment02/Q1/nbproject/private/
/Assignment02/Assignment02/Q2/build/
/Assignment02/Assignment02/Q2/nbproject/private/
/Assignment02/Assignment02/Q3/build/
/Assignment02/Assignment02/Q3/nbproject/private/
/Assignment02/Assignment02/Q1/dist/
/Assignment02/Assignment02/Q2/dist/